*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{

    margin: 35px;
}
header{
    display: flex;
    justify-content: center;
    /* background-color: yellow;  */
    padding: 70px 20px 30px 20px;  
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
}

.section1 {
    display: flex;

    border: 1px solid black;
}
.section1 div {
    flex-grow: 0;
}
.section1 div:nth-child(2){
    flex-grow: 4;
}

.quater{
    width: 25%;
}

.half {
    width: 50%;
}
.section1-2 {
    border:  1px solid grey;
    border-width: 0px 2px 0px 2px;
}

.section1-2 img {
    display: block;
    padding: 0px 5px;
    width: 100%;
}


.section1 h3 {
    padding: 20px 10px;
    font-size: 25px;
   text-align: center;
}

.section1-1 p, .section1-2 p , .section1-3 p {
    margin: 20px;
    padding: 20px;
}

.section1-2 {
    flex-grow: ;

}



.left-1 p {
    padding: 20px;
    font-size: 15px;
}

.left-1 h3 {
    text-align: center;
    font-size: 25px;
}


.right {
    flex-grow: 2;
}

.section2 {
    display: flex;
    border: 2px solid grey;
}

.left-1 {
    width: 550px;
    border-right: 2px solid grey;
    padding-top: 10px;
    width: 25%;
   
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

nav li { 
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    color: #666;
}


.item1 {
    background-color: purple;
}

.other-sections {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .site-section {
    display:  flex;
    align-items: center;
    flex: 1;
    align-content: stretch;
    
    /* this is the same as: flex: 1; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; */
  }
  
  .section-link {
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
  }
  
  .section-link:hover {
    text-decoration: underline;
  }
  
  .site-section-local {
    background-color: #55efc4;
  }
  
  .site-section-tech {
    background-color: #81ecec;
  }
  
  .site-section-opinion {
    background-color: #74b9ff;
  }
  
  .site-section-sports {
    background-color: #a29bfe;
  }
  
  .site-section-politics {
    background-color: #ffeaa7;
  }
  